<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <directory>
    <enemy-config-xml value="_configs/enemydata" />
    <indian-config-xml value="_configs/indiandata" />
	  <menu-prefab value="UI/" />
  </directory>
  <server>
    <url value="https://pyiv2014.appspot.com" />
	<sender-id value="419590633699" />
  </server>
  <game>
    <max-spawn-time value="60.0"/>
    <spawning-height value="0.07" />
    <start-village-livepoints value="100.0" />
  </game>
</configuration>