<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <directory>
    <enemy-config-xml value="_configs/enemydata" />
    <indian-config-xml value="_configs/indiandata" />
    <fly-note-config-xml value="_configs/flynotedata" />
	<menu-prefab value="UI/" />
  </directory>
  <server>
    <url value="https://pyiv2014.appspot.com" />
    <!--<url value="http://localhost:9080" /> -->
	<sender-id value="419590633699" />
  </server>
  <game>
    <max-spawn-time value="40.0"/>
	<start-gold value="150" />
    <spawning-height value="0.07" />
    <start-village-livepoints value="500" />
    <enemy-die-frames value="100.0" />
  </game>
  <music>
    <menu value="Music/MusicTest1"/>
  </music>
</configuration>