<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <directory>
    <enemy-config-xml value=".\\Assets\\Scripts/_configs/enemydata.xml" />
    <indian-config-xml value=".\\Assets\\Scripts/_configs/indiandata.xml" />
	  <menu-prefab value="UI/" />
  </directory>
  <server>
    <url value="http://localhost:9080" />
  </server>
  <game>
    <max-spawn-time value="60.0"/>
  </game>
</configuration>